# ----------------- shared
ATTR_COINMARKETCAP=
ATTR_INFURA_KEY=
ATTR_ALCHEMY_KEY=

# # ----------------- localhost / hardhat
ETHEREUM_CHAIN_ID=1337

ADDR_WHITELIST_CONTROLLER=HARDHAT1

ADDR_PROXY_ADMIN=
ADDR_ATTR_TOKEN=0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0
ADDR_DAO=0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9

# # ----------------- rinkeby
# # ATTR_RINKEBY_KEY_MNEMONIC=
# ETHEREUM_CHAIN_ID=4

# # ADDR_WHITELIST_CONTROLLER=0x0835a8493c69b5bf5fabc6ea88f8b9379d0da128

# # ADDR_PROXY_ADMIN=
# ADDR_ATTR_TOKEN=0x926362b451A012F72b34240F36C3bDc163d462e0
# ADDR_DAO=0xeD155B74703a0EF9E7c6B4E62357e362f3968935

# # ----------------- mainnet
# # ATTR_MAINNET_KEY=

# ETHEREUM_CHAIN_ID=1

# # ADDR_PROXY_ADMIN=
# ADDR_ATTR_TOKEN=0x44e2deC86B9F0e0266E9AA66e10323A2bd69CF9A
# # ADDR_WHITELIST_CONTROLLER=0xAA97FED7413A944118Db403Ce65116DCc4D381E2

# ADDR_DAO=0x8f86BaAbEc737Eb00449425025964Fc4dFbf1522